/* CSS BITCHES */
/* SHIT DOG */

body { 
	/*border: 20px dotted pink; */
}

.hp #searchform {
	position: static;
}

#viewport {
	display: flex;
	flex-direction: column-reverse;
}

.jhp > #gb {
	top: 15px;
}

.content {
	padding-bottom: 0;
}

#footer {
	bottom: initial;
}

.ctr-p #footer {
	margin: 311px auto;
}


/*
	This removes the doodle whenever Google uses its normal logo.
*/
#hplogo {
	background: none;
	height: auto;
	width: auto;
}

#_eEe {
	display: none;
}

#xkcd_img {

}

/*
	This hopefully removes everything inside the doodle for special dates
*/
#hplogo > a {
	display: none;
}


/* FIXME BACKGROUND COLOR XKCDDDDDDDDD */